/* ChatPage.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
  }
  
  .container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    padding-top: 100px;
    background-color: #f3f3f4;
    border: 2px solid #6c6c6c;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative; /* Add position relative for positioning children */
  }
  
  .chatHeader {
    height:80px;
    background-color: #fed750;
    color: white;
    padding: 10px;
    border: 1px solid #6c6c6c;
    border-radius: 8px 8px 8px 8px; /* Rounded corners only at the top */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
.chairlieName {
    border-radius: 80px;
    text-align: center;
  color: white;
  background-color: #fed750;
}

.chatDisplay {
  height: 400px; /* Adjust the height as needed */
  overflow-y: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.message {
  margin-bottom: 10px;
}

.userMessage {
  background-color: #f740406c;
  color: white;
  padding: 8px;
  border-radius: 5px;
  margin-bottom: 5px;
}

.assistantMessage {
  background-color: #98deeb;
  padding: 8px;
  border-radius: 5px;
  margin-top: 5px;
}

.chatInput {
  display: flex;
  flex-direction: column;
}

input[type="text"] {
  padding: 15px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 18px;
}
