body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Arial, sans-serif;
}

.page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.left-side {
  flex: 1;
  background-color: #24A1B0; /* Μπορείς να αλλάξεις το χρώμα εδώ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  flex: 1;
  background-color: #4e5c68; /* Μπορείς να αλλάξεις το χρώμα εδώ */
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form {
  background-color: #4e5c6863;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
}

h2 {
  font-style: oswald;
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

input,
button {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

button {
  background-color: white;
  color: #4e5c68;
  cursor: pointer;
}

button:hover {
  background-color: #fed750;
}